<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Video_Oyun_Koleksiyonu_Yönetimi_proje2.Properties.Settings.videooyunConnectionString"
            connectionString="Data Source=LAPTOP-6Q32OA4J\SQLEXPRESS;Initial Catalog=videooyun;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>